body{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

header{
    text-align: center;
    background-color: antiquewhite;
    min-height: 5cm; 
}

footer{
    margin-top: auto;
    background-color: blue;
}